<div>
  <button mat-button class="creer" [routerLink]="['/creer-voiture']">Creer une nouvelle voiture</button>
</div>
<hr>
<div>
  <h1 class="headline-1">Liste des mes voitures</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Matricule</th>
      <th>Etat</th>
      <th></th>
    </tr>
    <tr *ngFor="let car of mesvoitures">
      <td>{{ car.voiture._id }}</td>
      <td>{{ car.voiture.matricule }} </td>
      <td>{{ car.etat }}</td>
      <td style="color: transparent;"><button mat-raised-button color="primary" *ngIf="car.etat == 'Sorti du garage'"
          (click)="Deposeraugarage(car.voiture._id)">Deposer au garage</button>-<button mat-raised-button
          color="primary" *ngIf="car.etat == 'Dans le garage'"
          [routerLink]="['/reparationencours',car.voiture._id]">Voir
          les reparations</button>-
        <button mat-raised-button color="warn" *ngIf="car.etat == 'Sorti du garage'" (click)="onDelete(car.voiture._id)">Supprimer</button>-<button
          mat-raised-button color="accent" *ngIf="car.etat == 'Sorti du garage'">Modifier</button>-<button
          mat-raised-button [routerLink]="['/historique',car.voiture._id]">Historique</button>-<button mat-raised-button *ngIf="car.etat == 'Dans le garage'"
          [routerLink]="['/reparationencours',car.voiture._id]">Voir
          la
          facture</button>-<button mat-raised-button color="warn" *ngIf="car.etat == 'Dans le garage'"
          (click)="RecupererVoiture(car.voiture._id)">Recuperer la
          voiture</button>
      </td>
    </tr>
  </table>
</div>
