mat-form-field{
  width: 60%;
  text-align: right;
}

example-button-row{
  display: inline-block;
text-align: right;
width: auto;
}

.authentication-card {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-form-field{
  width: 100%;
}

mat-spinner{
  margin: auto;
  margin-top: 5px;
}

.success{
  background-color: green;
  color:white;
}
